* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #fff;
}

.signup-page,
.signin-page {
  /* background-image: url("./assets/images/backgroundimg1.svg");
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: 50% 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f1f7;
  width: 100%;
}

.signup-content,
.signin-content {
  box-shadow: black;
  background-color: white;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  border: none;
  outline: none;
  background-color: #e5ecec;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.signup-email,
.signin-email,
.signup-password,
.signin-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  text-align: center;
}

@media (max-width: 600px) {
  .signup-content,
  .signin-content {
    width: 95%;
    padding: 15px;
  }
}

.signin-content p {
  align-self: center;
}
ul {
  list-style-type: none;
}
.navigation {
  justify-self: center;
  background-color: white;
  color: black;
  /* position: relative; */
  width: 90vw;
  border-bottom: 1px solid black;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
  margin-bottom: 2rem;
}

.signup-page button,
.signin-page button {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  height: 6vh;
}
.signup-page button:active,
.signin-page button:active {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.signup-page button:hover,
.signin-page button:hover{
    color: black;
  background-color: white;
  border: 1px solid black;
}
.nv {
  color: black;
  text-decoration: none;
}

.p {
  width: 100px;
  height: 200px;
  background-color: black;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}


.navbar ul a.active {
 color: black;
 background-color: black;
}

/* Fade transition */
.fade-enter {
  opacity: 0;

}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.skeleton{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.skeleton-div{
  color: aqua;
  width: 90vw;
  height: 10vh;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.bi-fire{
color: red;
font-size: 2rem;
}

.dashboard{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* .home{
  background-color: white;
} */
.friends-external{
  display: flex;
  justify-content: space-between;
}
.friends-container{
  margin-top: 1rem;
  margin-left: 5rem;
}

.friend-img{
  margin-right: 20rem;
  margin-top: 2rem;
  width: 450px;
  height: 450px;
}
.menu-container{
  margin-bottom: 0.2rem;
}

.no-friend{
  margin-bottom: 2rem;
}

.friends-list{
  margin-top: 2.2rem;
}

.add-friend{
  margin-top: 1rem;
}
/* SCRAP */
.grid-home {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensures 3 elements per row */
  gap: 2rem; /* Adjust spacing between elements */
  padding-bottom: 3rem;
}

.grid-element {
  border-radius: 2rem;
  padding: 0.7rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.262);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 410px; /* Ensure all elements have the same height */
}

.image {
  width: 100%;
  height: 85%;
  object-fit: cover; /* Ensures image covers the container without stretching */
  border-radius: 1rem;
}

.modal{
  flex-direction: column;
  display: flex;
  position: fixed;
  top: 20;
  background-color: aqua;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  z-index: 10000;
}

.modal-button{
  align-self: flex-end;
   background-color: black;
  color: white;
  outline: none;
  border: none;
  height: 6vh;
  width: 4rem;
  margin-right: 2rem;
}

.buy-button{
   background-color: black;
  color: white;
  outline: none;
  border: none;
  height: 6vh;
  width:  7rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.modal-image{
  /* height: 60%;
width: 60%; */
  height: 400px;
  width: 400px;
}
.modal image{
 object-fit: contain; 
}

.modal .text{
  
  width: 90%;
  display: flex;
  justify-content:space-between;
}

.listing-product-button{
margin: 2rem;
   background-color: black;
  color: white;
  outline: none;
  border: none;
  height: 3rem;
  width:  3rem;
  border-radius: 7rem;
}

.listing-modal{
  gap: 1rem;
  margin-left: 1.5rem;
   margin-right: 1.5rem;
}

.listing-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listing-heading{
  margin-bottom: 1rem;
}

.waste{
  margin-top: 5px;
}

.waste-label{
  margin-right: 1rem;
}

.waste-subtype-label{
  margin-right: 1rem;
}

.listing-image{
  margin-top: 0.5;
    margin-bottom: 0.5;
}

.listing-modal-button{
  margin: 2rem;
}

.cancel-button, .add-button{
   background-color: black;
  color: white;
  outline: none;
  border: none;
  height: 6vh;
  width:  7rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}