* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5ecec;
}

.signup-page,
.signin-page {
  /* background-image: url("./assets/images/backgroundimg1.svg");
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: 50% 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.signup-content,
.signin-content {
  background-color: white;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  border: none;
  outline: none;
  background-color: #e5ecec;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.signup-email,
.signin-email,
.signup-password,
.signin-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  text-align: center;
}

@media (max-width: 600px) {
  .signup-content,
  .signin-content {
    width: 95%;
    padding: 15px;
  }
}

.signin-content p {
  align-self: center;
}
ul {
  list-style-type: none;
}
.navigation {
  background-color: black;
  color: white;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
  margin-bottom: 2rem;
}

.signup-page button,
.signin-page button {
  background-color: #72bf78;
  color: white;
  outline: none;
  border: none;
  height: 6vh;
}
.signup-page button:active,
.signin-page button:active {
  color: #72bf78;
  background-color: white;
  border: 1px solid #72bf78;
}

.nv {
  color: #f4dfac;
  text-decoration: none;
}

.p {
  width: 100px;
  height: 200px;
  background-color: black;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
