/* Community.css */
body {
  font-family:"Merienda";
  background-color: #fff; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.room,
.chat-room {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 128, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.room{
  max-width: 700px;
}

h2 {
  color: black; /* Dark green */
}

label {
  font-weight: bold;
  display: block;
  margin: 10px 0;
  color: black; /* Deep green */
}

button {
  background: #4c5fd5;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
    outline: none;
    border: none;
}

button:hover {
  background: #e6e8f4;
  color: #4c5fd5;
}

.existing-comms {
  background: #dbe0f9;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
}

.existing-comms:hover {
  background: #bfc4de;
}

.existing-comms li {
  padding: 8px;
  border-bottom: 1px solid #001e80; /* Green line */
  list-style-type: none; /* Removes bullet points */
}

.existing-comms li:last-child {
  border-bottom: none; /* Removes border from the last item */
}

.community-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.community-dropdown {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}
